<% @browser_title = "Browse" %>

<svg id="graph"></svg>

<script>
  generateGraph(<%= concept_d3_json %>);
</script>

<div class="container">
  <h1>OOP</h1>
  <div class="row">
    <div class="col-md-6">
      <h3>Description</h3>
      <h3>Implementation: Rails</h3>
    </div>
    <div class="col-md-6">
      <h3>Assignments</h3>
      <h3>References</h3>
    </div>
  </div>
</div>
