<tr>
  <td><%= student.name %></td>
  <td><%= student.email %></td>
  <td class="icons"><%= link_to '<i class="glyphicon glyphicon-pencil"></i> Edit'.html_safe,
          edit_student_path(student) %></td>
</tr>
