<% @browser_title = "Browse" %>
<script>
  graph_json = <%= GraphPresenter.new(@graph).packed_graph_json %>;
  generatePackedGraph(graph_json);
</script>

<div id="concept-summary">
  <%= render "layouts/flash" %>
</div>
