<tr>
  <td><%= unit.name %></td>
  <td><%= unit.delivered_at.to_date %></td>
  <td><%= unit.concept_count %></td>
  <td class="icons"><%= link_to '<i class="glyphicon glyphicon-pencil"></i> Edit'.html_safe,
          edit_unit_path(unit) %></td>
</tr>
