<h1>
  <div class="header-buttons">
    <%= link_to '<i class="glyphicon glyphicon-plus"></i> New Unit'.html_safe,
        new_unit_path, class: "btn btn-default" %>
  </div>
  Units
</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th># of Concepts</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @units %>
  </tbody>
</table>

<%= will_paginate %>
