table.edit-scores {
  width: 100%;
  margin-bottom: 20px;

  input {
    margin-right: 5px;
  }

  textarea {
    border-radius: 4px;
    border-color: lightgrey;
    height: 6em;
    width: 18em;
  }

  .impression-wrapper {
    margin-bottom: 10px;
  }
}
