.checkbox-tree-node {
  margin-left: 15px;
}

.concept-assignments {

  margin-bottom: 13px;

  td {
    padding-left: 10px;
  }
}

.none-found {
  padding-left: 10px;
}

.badge.score-badge {
  width: 35px;
  background-color: #ddd;
  color: #999;
}
